@require('../views/home.html')
<div class="container mb-4">
    <div class="row col-sm-12 ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ryzen-3.svg" class="thumbnail ">
            <div class="card-body">
                <h5 class="card-title">AMD</h5>
                <p class="card-text">Ryzen 3</p>
                <a href="checkout.html" class="btn btn-primary">180$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4" style="width: 24rem;">
            <img src="../images/ryzen-5.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">AMD</h5>
                <p class="card-text">Ryzen 5</p>
                <a href="checkout.html" class="btn btn-primary">240$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ryzen-7.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">AMD</h5>
                <p class="card-text">Ryzen 7</p>
                <a href="checkout.html" class="btn btn-primary">320$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/intel-3.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">İntel</h5>
                <p class="card-text">İntel 3</p>
                <a href="checkout.html" class="btn btn-primary">180$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/intel-5.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">İntel</h5>
                <p class="card-text">İntel 5</p>
                <a href="checkout.html" class="btn btn-primary">240$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/intel-7.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">İntel</h5>
                <p class="card-text">İntel 7</p>
                <a href="checkout.html" class="btn btn-primary">320$-Buy</a>
            </div>
        </div>
    </div>
</div>