@require('../views/home.html')
<div class="container mb-4">
    <div class="row col-sm-12 ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/rx-6800.jpg.svg" class="thumbnail ">
            <div class="card-body">
                <h5 class="card-title">MSI Radeon RX 6800 GAMING X TRIO 16GB GDDR6 256 Bit</h5>
                <a href="checkout.html" class="btn btn-primary">250$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4" style="width: 24rem;">
            <img src="../images/rx-6500.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GIGABYTE Radeon RX 6500 XT GAMING OC 4GB GDDR6 64 Bit</h5>
                <a href="checkout.html" class="btn btn-primary">310$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/rx-6650.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GIGABYTE Radeon RX 6650 XT EAGLE 8GB GDDR6 128 Bit</h5>
                <a href="checkout.html" class="btn btn-primary">420$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/msi-geforce-rtx3080.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MSI GeForce RTX 3080 VENTUS 3X PLUS 12G OC LHR 12GB GDDR6X 320 Bit</h5>
                <a href="checkout.html" class="btn btn-primary">250$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/msi-geforce-1660.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MSI GeForce GTX 1660 SUPER VENTUS XS 6GB GDDR6 192 Bit</h5>
                <a href="checkout.html" class="btn btn-primary">310$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/msi-geforce-3060ti.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MSI Geforce RTX 3060 Ti VENTUS 3X OC LHR 8GB GDDR6 256 Bit LHR</h5>
                <a href="checkout.html" class="btn btn-primary">420$-Buy</a>
            </div>
        </div>
    </div>
</div>