@require('../views/home.html')
<div class="container mb-4">
    <div class="row  ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ASUS ROG STRIX B650-A.jpg.svg" class="thumbnail ">
            <div class="card-body">
                <h5 class="card-title">ASUS ROG STRIX B650-A GAMING WIFI 6400MHz(OC) DDR5 Soket AM5 M.2 HDMI DP ATX</h5>
                <a href="checkout.html" class="btn btn-primary">90$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4" style="width: 24rem;">
            <img src="../images/MSI PRO B650-P WIFI 6400.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MSI PRO B650-P WIFI 6400(OC) DDR5 Soket AM5 HDMI DP M.2 USB 3.2 ATX</h5>
                <a href="checkout.html" class="btn btn-primary">110$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ASUS PRIME Z790-P 7200MHz(.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">ASUS PRIME Z790-P 7200MHz(OC) DDR5 Soket 1700 M.2 HDMI DP ATX</h5>
                <a href="checkout.html" class="btn btn-primary">145$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/GIGABYTE B660M GAMING.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GIGABYTE B660M GAMING DDR4 5333MHz (OC) DDR4 Soket 1700 M.2 HDMI DP D-SUB mATX</h5>
                <a href="checkout.html" class="btn btn-primary">90$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/GIGABYTE H610M.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GIGABYTE H610M S2H DDR4 3200 MHz Soket 1700 M.2 HDMI DP D-Sub DVI-D mATX</h5>
                <a href="checkout.html" class="btn btn-primary">110$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ASUS ROG MAXIMUS Z690.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">ASUS ROG MAXIMUS Z690 HERO EVA Edition 6400MHz(OC) DDR5 Soket 1700 M.2 USB 3.2 HDMI Thunderbolt ATX</h5>
                <a href="checkout.html" class="btn btn-primary">145$-Buy</a>
            </div>
        </div>
    </div>
</div>