@require('../views/home.html')
<div class="container mb-4">
    <div class="row  ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <a href="cpu.html" class="text-decoration-none">
            <img src="../images/cpu.svg" class="thumbnail" style="width: 20rem ;">
            <div class="card-body">
                <h2 class="card-title">CPU</h2>
            
            </div>
            </a>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <a href="gpu.html" class="text-decoration-none">
            <img src="../images/video-card.svg" class="thumbnail" style="width: 20rem ;">
            <div class="card-body">
                <h2 class="card-title">GPU</h2>
            </div>
        </a>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <a href="motherboard.html" class="text-decoration-none">
            <img src="../images/motherboard.svg" class="thumbnail" style="width:20rem ;">
            <div class="card-body">
                <h2 class="card-title">MOTHERBOARD</h2>
            </div>
            </a>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <a href="ram.html" class="text-decoration-none">
            <img src="../images/ram-memory.svg" class="thumbnail" style="width:20rem ;">
            <div class="card-body">
                <h2 class="card-title">RAM MEMORY</h2>

            </div>
        </a>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <a href="ssd.html" class="text-decoration-none">
            <img src="../images/ssd.svg" class="thumbnail" style="width:20rem ;">
            <div class="card-body">
                <h2 class="card-title">SSD</h2>
            </div>
        </a>
        </div>
    </div>
</div>