@require('../views/home.html')
<div class="container mb-4">
    <div class="row col-sm-12 ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/RAM-1.jpg.svg" class="thumbnail ">
            <div class="card-body">
                <h5 class="card-title">CORSAIR 32GB(2x16GB) Vengeance RGB 6600MHz CL32 DDR5 Black Dual Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">45$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4" style="width: 24rem;">
            <img src="../images/RAM-2.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">CORSAIR 32GB(2x16GB) Vengeance 5600MHz CL36 DDR5 Black AMD Expo Dual Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">69$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/RAM-3.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GoodRam 16GB(2x8)GB IRDM X 3200MHz CL16 DDR4 Black Dual Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">145$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/RAM-4.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GSKILL 32GB (2x16GB) Trident Z5 Neo RGB 6000MHz CL32 DDR5 1.35V AMD EXPO Black Dual Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">45$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/RAM-5.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">CORSAIR 32GB (2x16GB) DOMINATOR PLATINUM RGB 5600MHz CL36 DDR5 Black Dual Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">69$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/RAM-6.jpg.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">Kingston 16GB FURY Beast RGB 5600Mhz CL38 DDR5 Single Kit Ram</h5>
                <a href="checkout.html" class="btn btn-primary">83$-Buy</a>
            </div>
        </div>
    </div>
</div>