@require('../views/home.html')
<div class="container mb-4">
    <div class="row col-sm-12 ms-1 mt-4 me-2">
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ssd1.svg" class="thumbnail ">
            <div class="card-body">
                <h5 class="card-title">GoodRam 250GB IRDM Gen3x4 M.2 2280 NVMe SSD</h5>
                <a href="checkout.html" class="btn btn-primary">65$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4" style="width: 24rem;">
            <img src="../images/ssd2.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">GoodRam 1TB PX500 Gen3x4 M.2 NVMe SSD</h5>
                <a href="checkout.html" class="btn btn-primary">78$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ssd3.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">WD 1TB GREEN SN350 NVMe Gen3x4 M.2 SSD</h5>
                <a href="checkout.html" class="btn btn-primary">94$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ssd4.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MSI 250GB SPATIUM M390 Gen3x4 M.2 2280 SSD</h5>
                <a href="checkout.html" class="btn btn-primary">65$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ssd5.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">KIOXIA EXCERIA PRO 2TB NVMe M.2 SSD</h5>
                <a href="checkout.html" class="btn btn-primary">78$-Buy</a>
            </div>
        </div>
        <div class="card text-bg-light text-center ms-1 mt-4 mx-4 " style="width: 24rem;">
            <img src="../images/ssd6.svg" class="thumbnail">
            <div class="card-body">
                <h5 class="card-title">MLD M700 2TB NVME 2280 Gen4x4 M.2 SSD </h5>
                <a href="checkout.html" class="btn btn-primary">94$-Buy</a>
            </div>
        </div>
    </div>
</div>